<div class="row">
	<div class="col-md-3">
		<h2>User info</h2>
		<table class="table">
			<tbody>
				<tr><%= image_tag attachment_url(@user, :profile_image, :fill, 100, 100, format: "jpg", fallback: "no_image.jpg") %></tr>
				<tr>
					<td>name</td>
					<td><p><%= @user.name %></p></td>
				</tr>
				<tr>
					<td>introduction</td>
					<td><p><%= @user.introduction %></p></td>
				</tr>
			</tbody>
		</table>
		<%= link_to edit_user_path(@user.id) do %>
		<p class="btn btn-light">編集</p>
		<% end %>
		<h1>New Book</h1>
		<%= form_for(@book, url: '/books') do |f| %>
		<h4>Title</h4>
		<%= f.text_field :title %>
		<h4>Option</h4>
		<%= f.text_area :body %>
		<%= f.submit 'Create Book' %>
		<% end %>
	</div>
	<div class="col-md-8">
		<h2>book details</h2>
		<table class="table">
			<tbody>
				<tr>
					<td><%= image_tag attachment_url(@books.user, :profile_image, :fill, 50, 50, format: "jpg", fallback: "no_image.jpg"), size:'50x50' %></td>
						<td><%= @books.title %></td>
						<td><%= @books.body %></td>
						<td><%= link_to "edit", edit_book_path %></td>
						<td><%= link_to "destroy", destroy_book_path, method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>